.header {
  display: flex;
}

.lista {
  padding: 0 0 0 15px;
}

.lista__detalhe {
  margin: 0;
}

.logo {
  width: 20%;
  min-width: 150px;
  max-width: 250px;
  padding: 10px;
}

.text {
  text-align: justify;
  font-size: 14px;
}

.text-destaque {
  text-align: center;
  font-weight: bold;
}

.titulo {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  vertical-align: bottom;
}

.topico {
  text-align: justify;
  font-weight: bold;
  font-size: 14px;
}

body {
  font-family: system-ui;
  background: #fff;
  color: #260000;
  text-align: center;
  margin: 20px;
  font-family: Montserrat;
}

* {
  border: 1px solid red;
}